<div style="position: fixed; bottom: 0;" class="container-fluid bg-dark">
  <footer class="text-center py-2">
    <div
      class="container d-flex flex-row justify-content-center align-items-center"
    >
      <a
        style="text-decoration: none"
        class="d-flex flex-row justify-content-center align-items-center"
        target="_blank"
        href="https://www.linkedin.com/in/attila-hartmann-b7b41a24b/"
      >
        <img
          class="img-fluid"
          src="https://cdn-icons-png.flaticon.com/512/145/145807.png"
          alt=""
        />
        <span class="fw-bold ms-2">{{"Attila Hartmann" | uppercase }}</span>
      </a>
    </div>
  </footer>
</div>
